/* PROJECT SECTION */
.projects {
  position: relative;
}

.f-role {
  color: #000;
  display: inline;
  margin-left: 5rem;
  position: relative;
  top: 0rem;
   font-family: "Playfair Display", serif;
  font-size: 4rem;
    font-weight: bold;
  /* font-size: 6rem; */
  max-width: 100%;
  text-transform: capitalize;
}

.project {
  color: #4169E1;
  font-family: "Allison", cursive;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  z-index: 4;
  position: absolute;
  top: 0.8rem;
  left: 14rem;
  width: 300px;
  text-transform: capitalize;
}

/* MOBILE */
@media (max-width: 600px) {
  .f-role {
    margin-left: 0;
    font-size: 3.5rem;
    display: block;
    text-align: center;
  }

  .project {
    position: static;
    font-size: 2.7rem;
    z-index: 11;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: -2rem;
  }
}

/* TABLET */
@media (min-width: 601px) and (max-width: 1024px) {
  .f-role {
    font-size: 3rem;
    margin-left: 2rem;
  }

  .project {
    font-size: 3.5rem;
    left: 8rem;
    top: 0.5rem;
  }
}