/* From Uiverse.io by alexmaracinaru */ 
.NavButton{
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #2e9de2;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.NavButton:hover {
  background: rgb(97, 97, 242);
}
.NavButton > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.NavButton:hover svg {
  transform: translateX(5px);
}

.NavButton:active {
  transform: scale(0.95);
}
